<template>
    <div class="container">
        <nav>
            <ul class="d-flex justify-content-between">
                <li><a href="/catalog/platya-v-nalichii">Платья в наличии</a></li>
                <li><a href="/catalog/vechernie-platya">Вечерние платья</a></li>
                <li><a href="/catalog/kokteylnye-platya">Коктейльные платья</a></li>
                <li><a href="/catalog/svadebnye-platya">Свадебные платья</a></li>
                <li><a href="/catalog/platya-na-vypusknoy">Платья на выпускной</a></li>
                <li><a href="/catalog/aksessuary">Аксессуары</a></li>
                <li><a href="/catalog/novinki">Новинки</a></li>
                <li><a href="/catalog/specialnaya-cena">Спец. цена</a></li>
            </ul>
        </nav>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                dressesInStock: null,
                category_evening: null,
                category_cocktail: null,
                category_wedding: null,
                category_gratuating: null,
                category_accessories: null,
                newItems: null,
                discountItems: null,
            }
        },

        mounted() {
        }
    }
</script>

<style scoped>

</style>
