.about-page
    #main-banner
        background-image: url("/img/info/about.jpg")
        background-repeat: no-repeat
        background-position: center center
        background-size: cover
        @media screen and (max-width: 400px)
            background-attachment: scroll

        .info-box
            p
                font-size: 1.5em
                width: 70%
                margin: 0 auto
                font-weight: 300
                @media screen and (max-width: 575px)
                    font-size: 1.1em
            h2
                @media screen and (max-width: 575px)
                    font-size: 3em



    .about__card
        background: linear-gradient(128.11deg, rgba(212, 57, 140, 0.3) 0%, rgba(255, 255, 255, 0) 100%)
        border-radius: 2px
        padding: 30px 20px
        height: 100%
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1)
        transition: 0.4s ease
        &:hover
            box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.4)


        h5
            font-size: 1.5em

        button
            border: none
            padding: 0
            height: 100%
            text-align: left
            background: transparent

