#admin
    font-size: 0.95em

    .btn-create, .btn-edit, .btn-remove, .btn-save, .btn-primary
        display: inline-block
        text-align: center
        padding: 10px 20px
        border: none
        color: #ffffff
        border-radius: 5px
        transition: 0.4s ease
        text-transform: uppercase
        margin-bottom: 10px
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12)

    .btn-create
        background: rgb(0, 154, 51)
        &:hover
            background: rgba(0, 154, 51, 0.8)

    .btn-edit
        background: #1976d2
        &:hover
            background: rgba(25, 118, 210, 0.9)

    .btn-remove
        background: rgb(154, 0, 54)
        &:hover
            background: rgba(154, 0, 54, 0.8)

    .btn-save
        background: rgb(154, 144, 0)
        &:hover
            background: rgba(154, 144, 0, 0.8)

    .btn-primary
        background: #e6e6e6
        color: #000000
        font-weight: bold


