.article-page
    #main-banner
        margin-bottom: 50px
        position: relative
        @media screen and (max-width: 767px)
            margin-bottom: 40px
            height: 50vh
        @media screen and (max-width: 575px)
            margin-bottom: 20px


        img
            object-fit: cover
            object-position: top
            position: relative
            z-index: 1
            height: 100%
        &::before
            position: absolute
            z-index: 2
            content: ''
            width: 100%
            height: 100%
            top: 0
            left: 0
            background: rgba(0, 0, 0, 0.36)
        .info-box
            color: #ffffff
            position: absolute
            z-index: 3
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            h1, h3
                color: #ffffff
                text-shadow: none
                font-weight: bold
                @media screen and (max-width: 991px)
                    font-size: 1.7em
                @media screen and (max-width: 767px)
                    font-size: 1.2em
                    margin-bottom: 15px

    .link-to-article
        text-align: center
        a
            display: inline-block
            span
                display: inline-block
                position: relative
                width: 30px
                height: 30px
                transform: rotate(45deg)
                border-bottom: 1px solid #ffffff
                border-right: 1px solid #ffffff
                &::before
                    content: ''
                    position: absolute
                    width: 100%
                    height: 100%
                    top: 0
                    left: 0
                    border-bottom: 1px solid #ffffff
                    border-right: 1px solid #ffffff
                    transform: translate(10px, 10px)



.card
    padding: 15px
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1)
    border-radius: 2px
    border: none
    background: #ffffff
    transition: 0.6s ease
    &:hover
        box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.5)


    .img-container
        margin-bottom: 15px

    p
        margin-bottom: 0
        span
            color: $main_color






#article-show
    padding-top: 140px
    transform: translateY(-100px)
    @media screen and (max-width: 1279px)
        padding-top: 80px
        transform: translateY(-40px)
    @media screen and (max-width: 575px)
        transform: translateY(-60px)
    h5.article-title
        font-size: 1.75em
        padding-bottom: 3px
        position: relative
        &::before
            content: ''
            position: absolute
            bottom: 0
            left: 0
            background: #B4B4B4
            width: 80%
            height: 1px

    .article-description
        img
            max-width: 100%
            height: auto
