.catalog-page

    .sort-line
        margin-bottom: 40px
        @media screen and (max-width: 991px)
            margin-bottom: 20px

        label
            font-family: "Roboto", sans-serif


    .first_sort-line
        padding-bottom: 10px
        border-bottom: 1px solid rgba(216, 216, 216, 0.8)
        margin-bottom: 20px
        font-family: "Roboto", sans-serif

        button.dropdown-toggle
            border: none
            margin-right: 40px
            padding-bottom: 10px

            &::after
                display: none

            &::before
                content: ''
                position: absolute
                right: 25px
                top: 4px
                width: 7px
                height: 7px
                border-right: 1px solid #000000
                border-bottom: 1px solid #000000
                transform: rotate(45deg)
                z-index: 3


        .dropdown-menu
            padding: 15px 20px
            border: none
            font-family: "Roboto", sans-serif
            font-weight: 300
            box-shadow: 0 3px 3px #cecece
            border-radius: 0

            &:hover
                cursor: pointer

            &:focus, &:active
                box-shadow: none
                outline: none

            .point
                white-space: nowrap

                &:first-child
                    margin-bottom: 10px

            .active
                color: $main_color

            label
                white-space: nowrap


    #accordionCatalog
        @media screen and (max-width: 991px)
            position: fixed
            z-index: 50
            top: 0
            left: 0
            width: 100%
            height: 100vh
            background: #ffffff
            padding: 90px
            overflow-y: scroll
            display: none
        @media screen and (max-width: 767px)
            padding: 90px 60px
        @media screen and (max-width: 575px)
            padding: 90px 40px

    .category-filter__catalog
        padding-top: 40px
        @media screen and (max-width: 991px)
            padding-top: 10px

        .accordion
            padding-right: 50px
            margin-bottom: 20px
            @media screen and (max-width: 1367px)
                padding-right: 5px
            @media screen and (max-width: 1200px)
                font-size: 0.9em


            h2
                font-size: 1em

            .card, .card-header
                box-shadow: none
                border: none
                background: #ffffff

            .card
                padding: 0

            .card-header
                padding: 0

            .card-body
                padding: 15px 0

            //Title v1
            .category-title
                padding-bottom: 10px
                font-size: 1.25em
                font-family: $font_PT
                position: relative
                padding-right: 25px
                padding-left: 0
                border-top: 0
                border-left: 0
                border-right: 0
                border-bottom: 1px solid rgba(216, 216, 216, 0.8)
                background: #ffffff
                text-transform: uppercase
                font-weight: normal
                width: 100%
                text-align: left
                transition: 0.6s ease

                &::after
                    content: ''
                    position: absolute
                    left: 0
                    bottom: -2px
                    height: 3px
                    width: 40%
                    background: $main_color
                    transition: 0.6s ease

                &::before
                    content: ''
                    position: absolute
                    right: 10px
                    top: 8px
                    width: 10px
                    height: 10px
                    border-top: 1px solid #000000
                    border-right: 1px solid #000000
                    transform: rotate(135deg)
                    transition: 0.6s ease

            .category-title.collapsed
                border-bottom: none

                &::after
                    width: 0

                &::before
                    transform: rotate(45deg)

            .category-title.active
                border-bottom: 1px solid rgba(216, 216, 216, 0.8)

                &::after
                    width: 40%

            //Title v2
            .category-title-small
                font-size: 1.1em
                background: #f5f5f5
                border: none
                padding: 10px 45px 10px 25px

                &::after
                    content: none

                &::before
                    top: 13px

                &:hover
                    background: #f5f5f5

            .category-title-small.collapsed
                background: transparent
                border: none

                &::after
                    content: none

                &:hover
                    background: #f5f5f5

            .category-title-small.active
                border: none

                &::after
                    content: none


            //Title v3
            .card-subcategory
                padding: 0

                .card-body
                    padding: 0

                    &:first-child
                        margin-top: 10px

                    &:last-child
                        margin-bottom: 20px

                    .one-subcategory.active
                        .category-subtitle
                            color: $main_color

                            &::after
                                background: $main_color

                            &::before
                                border: 1px solid $main_color

                    .category-subtitle
                        font-size: 1em
                        color: #000000
                        padding: 5px 25px 5px 56px
                        font-weight: 300
                        transition: 0.4s ease
                        position: relative

                        &:hover
                            cursor: pointer
                            color: $main_color

                        &::before
                            content: ''
                            position: absolute
                            left: 25px
                            top: 7px
                            width: 14px
                            height: 14px
                            border-radius: 50%
                            border: 1px solid #000000
                            transition: 0.4s ease

                        &::after
                            content: ''
                            position: absolute
                            width: 6px
                            height: 6px
                            border-radius: 50%
                            background: transparent
                            left: 29px
                            top: 11px
                            transition: 0.4s ease

            .checkbox
                margin-left: 25px

    #accordionCatalog.active
        @media screen and (max-width: 991px)
            display: block


    #close-mobile-catalog
        position: absolute
        right: 15px
        top: 65px
        width: 40px
        height: 30px
        display: flex
        align-items: center
        justify-content: center
        text-align: center
        font-size: 2em
        font-weight: 300
        background: transparent
        border: none
        z-index: 5


    #openCategory
        text-align: center
        padding: 10px
        text-transform: uppercase
        margin-bottom: 20px
        color: #ffffff
        background: $main_color


.catalog-page__item
    #carouselCatalogItem
        position: relative
        display: grid
        grid-template-columns: 65% calc(35% - 20px)
        grid-column-gap: 20px
        justify-content: space-between

        .carousel-inner
            border: 1px solid #C4C4C4
            @media screen and (max-width: 575px)
                height: 450px
            @media screen and (max-width: 400px)
                height: 400px


            .carousel-item
                height: 100%
                position: relative

                a
                    position: relative
                    z-index: 3
                    height: 100%
                    display: inline-block
                    &::before
                        content: ''
                        position: absolute
                        left: 50%
                        top: 50%
                        transform: translate(-50%, -50%)
                        z-index: 3
                    &::after
                        content: ''
                        position: absolute
                        left: 0
                        top: 0
                        width: 100%
                        height: 100%
                        z-index: 1
                        transition: 0.6s ease

                &:hover
                    cursor: pointer
                    a
                        opacity: 1
                        &::before
                            content: url("/svg/zoom-in.svg")
                        &::after
                            background: rgba(0, 0, 0, 0.47)
                            transition: 0.6s ease

            img
                height: 100%
                object-fit: cover
                object-position: top

        .carousel-indicators
            position: static
            display: grid
            grid-template-rows: 1fr 1fr 1fr
            grid-gap: 20px
            margin: 0
            height: 615px
            @media screen and (max-width: 1365px)
                height: 515px
            @media screen and (max-width: 991px)
                height: 545px
            @media screen and (max-width: 575px)
                height: 450px
            @media screen and (max-width: 400px)
                height: 400px

            .indicator
                object-fit: cover
                overflow: hidden
                width: 100%
                position: relative
                transition: 0.6s ease

                img
                    object-fit: cover

                &::before
                    content: ''
                    position: absolute
                    left: 0
                    top: 0
                    width: 100%
                    height: 100%
                    z-index: 2
                    background: rgba(0, 0, 0, 0.47)
                    transition: 0.6s ease

                &:hover
                    opacity: 0.7
                    cursor: pointer

            .indicator.active
                &::before
                    background: rgba(0, 0, 0, 0.1)

            .indicator-video
                .img-play
                    position: absolute
                    z-index: 5
                    left: 50%
                    top: 50%
                    transform: translate(-50%, -50%)


    .description-container
        height: 100%
        display: flex
        flex-direction: column
        justify-content: space-between
        @media screen and (max-width: 1365px)
            height: auto
            min-height: 100%


        h1
            color: $main_color
            font-size: 1.6em
            margin-bottom: 13px
            text-shadow: none
            font-family: "Roboto", sans-serif
            text-transform: capitalize

        .model-box
            margin-top: 15px
            margin-bottom: 15px

        .sizes-box
            div.active
                padding: 3px 0
                text-align: center
                min-width: 27px
                border: 1px solid #969696
                margin-right: 5px
                color: #969696

                &:last-child
                    margin-right: 0


        .color-box
            div
                width: 24px
                height: 24px
                margin-right: 10px

                &:last-child
                    margin-right: 0

            .color-white
                background: #ffffff
                border: 1px solid #000000

            .color-black
                background: #000000

            .color-red
                background: #D00000

            .color-blue
                background: #002B53

            .color-pink
                background: #E91787


        .info-text
            color: #969696
            position: relative
            padding: 15px 0

            &::before, &::after
                content: ''
                position: absolute
                left: 0
                width: 100%
                background: #A6A6A6
                height: 1px

            &::before
                top: 0

            &::after
                bottom: 0

        .short-description
            color: #969696

            p
                color: #969696
                margin-bottom: 0

        .main-btn
            @media screen and (max-width: 1200px)
                min-width: 30%
            @media screen and (max-width: 400px)
                font-size: 0.8em
















