#main-banner
    height: calc(100vh - 200px)
    overflow: hidden
    margin-bottom: 100px
    @media screen and (max-width: 1367px)
        height: calc(100vh - 173px)
    @media screen and (max-width: 1200px)
        height: auto
    @media screen and (max-width: 1279px)
        margin-bottom: 80px
    @media screen and (max-width: 991px)
        margin-bottom: 80px
    @media screen and (max-width: 767px)
        margin-bottom: 40px
    @media screen and (max-width: 575px)
        margin-bottom: 20px

    #carouselMainBanner
        height: calc(100vh - 200px)
        @media screen and (max-width: 1367px)
            height: calc(100vh - 173px)
        @media screen and (max-width: 1200px)
            height: auto
        .carousel-inner
            height: 100%
        .carousel-item
            position: relative
            height: 100%
            a
                &:hover
                    opacity: 1

            img
                object-fit: cover
                height: 100%

            h2
                position: absolute
                top: 50%
                left: 135px
                z-index: 3
                width: 50%
                transform: scale(0.5)
                opacity: 0
                transition: 0.8s ease-in-out
                transition-delay: 0.3s
                transform-origin: left center
                @media screen and (max-width: 1280px)
                    top: auto
                    bottom: 50px
                    left: 50px
                    font-size: 3em
                @media screen and (max-width: 991px)
                    font-size: 2em
                @media screen and (max-width: 767px)
                    left: 40px
                    bottom: 40px
                @media screen and (max-width: 575px)
                    left: 20px
                    bottom: 20px
                    font-size: 1.2em





        .carousel-item.active
            h2
                transform: scale(1)
                opacity: 1


        .carousel-indicators
            bottom: 0
            left: -25px
            right: auto
            margin: 0
            display: block
            @media screen and (max-width: 575px)
                left: -15px
            li
                width: 5px
                height: 50px
                background: #DCDCDC
                border-radius: 50px
                margin-top: 15px
                @media screen and (max-width: 991px)
                    height: 30px
                @media screen and (max-width: 575px)
                    height: 20px
                @media screen and (max-width: 400px)
                    height: 10px

            li.active
                background: #2A2625

        .insta-box
            position: absolute
            right: 0
            bottom: 0
            background: rgba(21, 21, 21, 0.8)
            font-weight: 500
            padding: 20px 20px 15px 20px
            z-index: 5
            color: #A8A8A8
            @media screen and (max-width: 575px)
                padding: 10px


.special-text
    position: absolute
    width: 80%
    left: 10%
    bottom: 15%
    background: rgba(255, 255, 255, 0.74)
    font-family: $font_PT
    font-size: 1.4em
    font-weight: bold
    padding: 50px 30px
    text-align: center

.adv-section
    h4
        margin-bottom: 25px

    ul
        margin-bottom: 0
        padding-left: 0
        margin-left: -8px
        display: inline-block
        @media screen and (max-width: 991px)
            min-width: 326px
        @media screen and (max-width: 700px)
            min-width: 250px
        @media screen and (max-width: 575px)
            min-width: 326px
        @media screen and (max-width: 400px)
            min-width: 100%
            display: block
        li
            list-style: none
            margin-bottom: 10px


.info__bonus-card
    margin-bottom: 20px
    @media screen and (max-width: 1279px)
        min-height: 94px
    @media screen and (max-width: 991px)
        min-height: auto

.bonus-card
    box-shadow: 0 0 5px #cecece
    position: relative
    @media screen and (max-width: 991px)
        margin-bottom: 90px
    img
        position: relative
        z-index: 1



    .main-btn
        position: absolute
        z-index: 2
        bottom: 40px
        @media screen and (max-width: 1279px)
            bottom: 20px
        @media screen and (max-width: 991px)
            bottom: auto
            top: calc(100% + 20px)


    .main-btn-1
        left: 50%
        transform: translateX(5%)
        @media screen and (max-width: 1279px)
            left: auto
            right: 5%
            transform: translateX(0)
        @media screen and (max-width: 991px)
            right: 50%
            transform: translateX(50%)

    .main-btn-2
        left: 50%
        transform: translateX(-50%)
        &:hover
            border: 1px solid #ffffff
