.photo-page
    .preview-text
        color: #818181
        padding: 10px 30px
        position: relative
        &::before, &::after
            content: ''
            position: absolute
            left: 0
            width: 100%
            background: #C4C4C4
            height: 1px
        &::before
            top: 0
        &::after
            bottom: 0

    .photo-card
        overflow: hidden
        color: #ffffff
        position: relative
        &:hover
            img
                transform: scale(1.1)
            .hidden-box
                transform: translateY(0)

        img
            position: relative
            z-index: 1
            transition: 0.8s ease
        .title-box
            position: absolute
            left: 0
            top: 0
            width: 100%
            height: 100%
            background: rgba(34, 34, 34, 0.57)
            display: flex
            align-items: center
            justify-content: center
            text-align: center
            padding: 10px
            z-index: 2
            color: #ffffff
        .hidden-box
            position: absolute
            bottom: 0
            left: 0
            padding: 10px
            z-index: 3
            width: 100%
            background: rgba(255, 255, 255, 0.34)
            text-align: center
            transition: 0.4s ease
            transform: translateY(100%)
            @media screen and (max-width: 1200px)
                display: none


.photo-page_show
    #main-banner
        .info-box
            top: auto
            left: 100px
            bottom: 70px
            transform: translate(0, 0)
            text-align: left
            @media screen and (max-width: 1279px)
                left: 50px
                bottom: 40px
            @media screen and (max-width: 767px)
                left: 40px
            @media screen and (max-width: 575px)
                left: 20px
                bottom: 20px


            h2
                font-size: 2.7em
                margin-bottom: 10px
                @media screen and (max-width: 1279px)
                    font-size: 2em
                @media screen and (max-width: 767px)
                    font-size: 1.5em
            p
                font-size: 1.8em
                text-transform: uppercase
                font-family: $font_PT
                margin-bottom: 0
                @media screen and (max-width: 1279px)
                    font-size: 1em
