#admin
    button.admin_edit
        border-color: blue
        border-radius: 3px
        font: inherit
        background-color: transparent

    button.admin_delete
        border-color: red
        border-radius: 3px
        font: inherit
        background-color: transparent
