.container
    width: 1500px
    max-width: 1500px
    margin: 0 auto
    @media screen and (max-width: 1601px)
        width: 1300px
        max-width: 1300px
    @media screen and (max-width: 1367px)
        width: 1200px
        max-width: 1200px
    @media screen and (max-width: 1279px)
        width: 100%
        max-width: 100%
        padding-left: 100px
        padding-right: 100px
    @media screen and (max-width: 991px)
        padding-left: 80px
        padding-right: 80px
    @media screen and (max-width: 767px)
        padding-left: 40px
        padding-right: 40px
    @media screen and (max-width: 575px)
        padding-left: 20px
        padding-right: 20px

#app
    @media screen and (max-width: 1279px)
        padding-top: 62px



.container-left
    //padding-left: 215px
    width: calc(1485px + (100% - 1500px)/2)
    margin: 0 0 0 auto
    @media screen and (max-width: 1601px)
        width: calc(1285px + (100% - 1300px)/2)
    @media screen and (max-width: 1367px)
        width: calc(1185px + (100% - 1200px)/2)
    @media screen and (max-width: 1279px)
        width: 100%
        padding-left: 100px
    @media screen and (max-width: 991px)
        padding-left: 80px
    @media screen and (max-width: 767px)
        padding-left: 40px
    @media screen and (max-width: 575px)
        padding-left: 20px



.section-grey
    background: #F9F9F9


.font-light
    font-weight: 300
.fs-16
    font-size: 0.8em


.w-60
    width: 60%
    margin: 0 auto
    @media screen and (max-width: 1200px)
        width: 80%
    @media screen and (max-width: 575px)
        width: 90%

.mb-30
    margin-bottom: 30px
    @media screen and (max-width: 991px)
        margin-bottom: 15px
.mb-40
    margin-bottom: 40px
    @media screen and (max-width: 991px)
        margin-bottom: 20px

.mb-50
    margin-bottom: 50px
    @media screen and (max-width: 991px)
        margin-bottom: 30px

.mb-80
    margin-bottom: 80px
    @media screen and (max-width: 991px)
        margin-bottom: 60px
    @media screen and (max-width: 767px)
        margin-bottom: 40px

.mb-100
    margin-bottom: 100px
    @media screen and (max-width: 1279px)
        margin-bottom: 80px
    @media screen and (max-width: 991px)
        margin-bottom: 70px
    @media screen and (max-width: 767px)
        margin-bottom: 50px

.pt-40
    padding-top: 40px
    @media screen and (max-width: 991px)
        padding-top: 20px

.pt-80
    padding-top: 80px
    @media screen and (max-width: 991px)
        padding-top: 60px
    @media screen and (max-width: 767px)
        padding-top: 40px

.pb-80
    padding-bottom: 80px
    @media screen and (max-width: 991px)
        padding-bottom: 60px
    @media screen and (max-width: 767px)
        padding-bottom: 40px




div[type=button], button[type=button], [type=button], button, button[type=submit], [type=submit]
    -webkit-appearance: none
    background: #ffffff
    border: 1px solid $main-color
    &:focus, &:active
        box-shadow: none
        outline: none

.main-btn, .btn-second
    font-size: 1.1em
    border: 1px solid $main-color
    color: $main-color
    display: inline-block
    text-align: center
    padding: 9px
    transition: 0.4s ease-in-out
    background: #ffffff
    min-width: 250px
    border-radius: 2px
    @media screen and (max-width: 1600px)
        min-width: 200px
    @media screen and (max-width: 1280px)
        min-width: auto

    @media screen and (max-width: 500px)
        min-width: 100%

    &:hover
        background: $main_color
        color: #ffffff

.btn-second
    max-width: 300px
    margin: 0 auto
    background: $main-color
    color: #ffffff

.btn-to-back
    padding-left: 40px
    position: relative
    margin-top: 20px
    color: $main_color
    text-transform: uppercase
    &::before
        content: url("/svg/arrow-left.svg")
        position: absolute
        left: 0
        top: -2px

.btn-next
    position: relative
    display: inline-block
    padding-right: 30px
    &::before
        content: url("/svg/arrow-right.svg")
        position: absolute
        right: 0
        top: 0

button.reset-btn
    padding: 0 10px
    border-radius: 20px
    border: 1px solid #000000
    opacity: 0.6
    transition: 0.4s ease
    font-size: 0.8em
    height: 25px
    position: relative
    white-space: nowrap
    &:hover
        opacity: 1

button.reset-btn.search
    margin-bottom: 10px
    padding-right: 30px
    overflow: hidden
    .close
        font-weight: 300
        position: absolute
        right: 10px
        top: -2px






.title-line
    position: relative
    &::before, &::after
        content: ''
        position: absolute
        top: 50%
        transform: translateY(-50%)
        width: 0
        height: 0
        border-style: solid

.title-line
    &::before
        border-width: 3px 250px 3px 0
        border-color: transparent $main_color transparent transparent
        right: calc(100% + 50px)
        @media screen and (max-width: 1200px)
            content: none
.title-line
    &::after
        border-width: 3px 0 3px 250px
        border-color: transparent transparent transparent $main_color
        left: calc(100% + 50px)
        @media screen and (max-width: 1200px)
            content: none




.checkbox

    input
        margin-bottom: 0
        margin-right: 10px
        width: auto

    input[type="checkbox"]
        display: none

    label
        position: relative
        padding-left: 30px
        margin-bottom: 0
        transition: 0.1s ease
        font-weight: 300

        &:hover
            cursor: pointer

        &::before
            content: ''
            position: absolute
            top: 2px
            left: 0
            display: inline-block
            width: 14px
            height: 14px
            vertical-align: middle
            //margin-left: 10px
            border: 1px solid #4B4F40
            transition: 0.4s ease

        &::after
            content: ''
            position: absolute
            top: 3px
            left: 2px
            transform: rotate(45deg) scale(0)
            transform-origin: center bottom
            width: 4px
            height: 9px
            transition: 0.4s ease


    input[type="checkbox"]:checked + label, label.active
        color: $main_color
        &::before
            border: 1px solid $main_color
        &::after
            border-right: 1px solid $main_color
            border-bottom: 1px solid $main_color
            transform: rotate(45deg) scale(1)


.slick-box__container
    margin-right: -15px
    margin-left: -15px
    @media screen and (max-width: 767px)
        margin-right: 0

    .slick-box__card
        padding: 0 15px
        @media screen and (max-width: 1279px)
            padding: 0 18px
        @media screen and (max-width: 767px)
            transform: translateX(-50px)
        @media screen and (max-width: 400px)
            transform: translateX(-30px)


button.slick-prev-b, button.slick-next-b
    position: absolute
    top: 50%
    transform: translateY(-50%)
    border: none
    padding: 5px
.slick-prev-b
    right: calc(100% + 10px)
.slick-next-b
    left: calc(100% + 10px)








#preview
    transition: 1s ease
    .load
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

        &:before
            content: ''
            position: absolute
            z-index: 1
            bottom: 0
            right: 0
            width: 100%
            height: 20px
            background: #ffffff
            animation: scalepreload 0.6s ease-in-out
            animation-fill-mode: forwards
            animation-delay: 0.1s

    @keyframes scalepreload
        0%
            width: 100%
        100%
            width: 0


.overlay, .overlay-grey
    visibility: visible !important
    opacity: 1
    height: 100%
    width: 100%
    position: absolute
    top: 0
    left: 0
    z-index: 5
    background-color: #fff
    -webkit-transform: scale(1)
    transform: scale(1)
    -webkit-transform-origin: left top
    transform-origin: left top
    animation: overlay
    animation-fill-mode: forwards

    @keyframes overlay

        100%
            transform: scaleY(0)
            -webkit-transform: scaleY(0)

.overlay-grey
    background-color: #F9F9F9
