body
    font-size: 16px
    background: #ffffff
    color: #000000
    font-family: 'Roboto', sans-serif
    line-height: 1.2
    position: relative
    @media screen and (max-width: 1601px)
        font-size: 15px
    @media screen and (max-width: 1367px)
        font-size: 14px





$main_color: #D4398C
$main_color: #D4398C
$font_PT: 'PT Sans Narrow', sans-serif


// Scrollbar
::-webkit-scrollbar
    width: 8px


/* Track */
::-webkit-scrollbar-track
    background: #f1f1f1


/* Handle */
::-webkit-scrollbar-thumb
    background: $main_color


/* Handle on hover */
::-webkit-scrollbar-thumb:hover
    background: $main_color


.main-color
    color: $main_color

.color-second
    color: #969696
    p
        color: #969696

a
    color: #000000
    text-decoration: none
    transition: 0.6s ease
    &:hover
        opacity: 0.6
        text-decoration: none
        color: #000000
    .main-color
        color: $main_color





h2.banner
    color: #ffffff
    font-size: 4.4em
    font-weight: bold
    text-transform: uppercase
    font-family: $font_PT
    margin-bottom: 0
h2
    font-size: 1.2em
    color: $main_color
    margin-bottom: 15px

h1, h3
    font-family: $font_PT
    font-size: 2.7em
    color: #2A2625
    text-shadow: -2px 2px 5px rgba(212,57,140,0.3)
    text-transform: uppercase
    @media screen and (max-width: 575px)
        font-size: 2.4em

h1.to-span
    span
        font-family: "Roboto", sans-serif
        font-size: 0.44em
        color: $main_color
        font-weight: normal
        padding: 15px 0
        background: #ffffff
        height: 50px !important
        display: inline-block


h4
    color: $main_color
    font-size: 1.1em
    margin-bottom: 0
    text-transform: uppercase
    @media screen and (max-width: 575px)
        font-size: 1em


h5
    color: $main_color
    font-size: 1.3em
    text-transform: uppercase
    font-family: $font_PT
    margin-bottom: 10px

h6
    color: $main_color
    font-size: 1.1em
    margin-bottom: 10px
    font-weight: normal


input, textarea
    border-top: none
    border-left: none
    border-right: none
    border-bottom: 1px solid #AEAEAE
    border-radius: 0
    width: 100%
    padding: 5px 25px
    &:focus, &:active
        box-shadow: none
        outline: none
        border-top: none
        border-left: none
        border-right: none
        border-bottom: 1px solid #000000
    &::placeholder
        color: #AEAEAE
textarea
    resize: none

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0

/* Firefox */
input[type=number]
    -moz-appearance: textfield

