<template>
    <div class="item--card">
        <a :href="`/item/${product.slug}`">
            <div class="top-container">
                <div class="info" v-if="product.new_or_special_price == '1' ">Новинка</div>
                <div class="info" v-if="product.new_or_special_price == '2' ">Спец. цена</div>
                <img :src="`/storage/uploaded_images/products/${product.image_1}`" :alt="product.title" class="w-100">
            </div>
            <div class="bottom-container">

                <div class="d-sm-flex justify-content-between">
                    <div class="mb-2 mb-sm-0">
                        <h4>{{product.title}}</h4>
                        <div class="in-stock-box" v-if="product.status == '1' ">В наличии</div>
                        <div class="in-stock-box" v-if="product.status == '2' ">Скоро в наличии</div>
                        <div class="in-stock-box" v-if="product.status == '3' ">Под заказ</div>
                    </div>


                    <!-- Price Box IF ITEM HAS DISCOUNT SHOW-->
                    <div v-if="product.discount_price" class="with-discount text-sm-right">
                        <div class="old-price">{{product.price}}</div>
                        <div class="new-price">{{product.discount_price}} BYN</div>
                    </div>

                    <!--Price Box  NO DISCOUNT SHOW  -->
                   <div v-else class="no-discount text-sm-right">
                        <div class="new-price">{{product.price}} BYN</div>
                   </div>

                </div>


            </div>

            <div class="main-btn w-100">Подробнее</div>
        </a>

    </div>

</template>

<script>
    export default {
        props: ['product'],
        data() {
            return {

            }
        }
    }
</script>
