<template>

    <div>
        <section class="pt-40 pb-80">

            <div class="container catalog-page catalog-page__item">

                <div class="breadcrumb-nav">
                    <a href="/">Главная</a>
                    <a href="/catalog">Каталог</a>
                    <a href="/itemshow" class="active">Вечернее платье TARIK EDIZ 48595</a>
                </div>


                <div class="row pb-80 justify-content-center">

                    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 mb-4 mb-sm-5 mb-xl-0">
                        <div id="carouselCatalogItem" class="carousel slide carousel-fade" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="/img/del/img-1.png" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="/img/del/img-2.png" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="/img/del/img-3.png" class="d-block w-100" alt="...">
                                </div>
                            </div>

                            <div class="carousel-indicators">
                                <div data-target="#carouselCatalogItem" data-slide-to="0" class="active indicator">
                                    <img src="/img/del/img-1.png" alt="" class="w-100">
                                </div>
                                <div data-target="#carouselCatalogItem" data-slide-to="1" class="indicator">
                                    <img src="/img/del/img-2.png" alt="" class="w-100">
                                </div>
                                <div data-target="#carouselCatalogItem" data-slide-to="2" class="indicator">
                                    <img src="/img/del/img-3.png" alt="" class="w-100">
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-6 col-xl-7">

                        <div class="description-container">

                            <div>
                                <h1>
                                    {{product.title}}
                                </h1>
                                <div class="status font-light font-italic">
                                    В наличии
                                    <!--Скоро в продаже-->
                                    <!--Распродажа-->
                                </div>
                            </div>


                            <div class="model-box">
                                <div>
                                    Модель:
                                    <span class="font-light">{{product.model}}</span>
                                </div>
                                <div >
                                    Дизайнер:
                                    <span class="font-light">TARIK EDIZ</span>
                                </div>
                            </div>

                            <!--Price Box IF ITEM HAS DISCOUNT SHOW-->
                            <div class="with-discount d-flex align-items-center pl-0">
                                <span class="main-color mr-3">Цена:</span>

                                <div class="mb-0 old-price mr-2">1300</div>
                                <h6 class="main-color mb-0">1200 BYN</h6>
                            </div>

                            <!--Price Box NO DISCOUNT SHOW-->
                            <!--                        <div class="no-discount">-->
                            <!--                        <div class="new-price">1200 BYN</div>-->
                            <!--                        </div>-->


                            <div class="mb-4 mt-4">
                                <h6>Размеры:</h6>
                                <div class="d-flex sizes-box mb-3">
                                    <div>12</div>
                                    <div>24</div>
                                    <div>28</div>
                                    <div class="active">36</div>
                                </div>

                                <h6>Цвета:</h6>
                                <div class="d-flex color-box">
                                    <div class="color-white"></div>
                                    <div class="color-black"></div>
                                    <div class="color-red"></div>
                                    <div class="color-blue"></div>
                                    <div class="color-pink"></div>
                                </div>
                            </div>



                            <div>
                                <h6>Краткое описание:</h6>
                                <p class="mb-0">
                                    {{product.description}}
                                </p>
                            </div>

                            <div class="info-text mb-3 mt-3">
                                <p class="mb-0">
                                    Мы гарантируем подлинность и качество продукции, представленной в нашем салоне. На все модели платьев имеются документы официального производителя и сертификаты качества в соответствии
                                    с требованиями ТРСТ. Копии сертификатов находятся в магазине и доступны к просмотру!
                                </p>
                            </div>

                            <div class="d-flex justify-content-between">
                                <button type="button" class="main-btn" data-toggle="modal" data-target="#catalogModal1">Хранение</button>
                                <button type="button" class="main-btn" data-toggle="modal" data-target="#catalogModal2">Химчистка</button>
                                <button type="button" class="main-btn" data-toggle="modal" data-target="#catalogModal3">Реставрация</button>

                            </div>
                        </div>






                    </div>

                </div>




            </div>





        </section>
    </div>




</template>

<script>
    export default {
        //props: ['product'],
        data() {
            return {
                products: null,

            }
        },
        created() {
            axios.post('/api/products').then(data => {
                this.products = data.data.data;
            });
        }

    }
</script>

