.select-box
    position: relative
    display: flex
    align-items: flex-end
    margin-bottom: 12px
    @media screen and (max-width: 991px)
        font-size: 0.9em

    span
        white-space: nowrap

    .select-box__current
        position: relative
        cursor: pointer
        outline: none
        font-weight: 300
        font-size: 0.98em
        min-width: 220px
        @media screen and (max-width: 400px)
            min-width: auto
        &:before
            content: ''
            position: absolute
            right: 5px
            top: 4px
            width: 7px
            height: 7px
            border-right: 1px solid #000000
            border-bottom: 1px solid #000000
            transform: rotate(45deg)
            z-index: 3
            @media screen and (max-width: 991px)
                width: 5px
                height: 5px


        &:focus
            + .select-box__list
                opacity: 1
                -webkit-animation-name: none
                animation-name: none

                .select-box__option
                    cursor: pointer




    .select-box__value
        display: -webkit-box
        display: flex
        @media screen and (max-width: 400px)
            font-size: 0.9em

    .select-box__input
        display: none

        &:checked + .select-box__input-text
            display: block

    .select-box__input-text
        display: none
        width: 100%
        margin: 0
        padding: 0 25px 0 15px
        background-color: #fff
        @media screen and (max-width: 400px)
            padding: 0 15px

    .select-box__list
        position: absolute
        z-index: 10
        right: 0
        top: 100%
        width: 100%
        padding: 10px 0 0 0
        list-style: none
        opacity: 0
        font-weight: 300
        font-size: 0.98em
        -webkit-animation-name: HideList
        animation-name: HideList
        -webkit-animation-duration: 0.5s
        animation-duration: 0.5s
        -webkit-animation-delay: 0.5s
        animation-delay: 0.5s
        -webkit-animation-fill-mode: forwards
        animation-fill-mode: forwards
        -webkit-animation-timing-function: step-start
        animation-timing-function: step-start
        box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.2)

        li
            margin-bottom: 0
            label
                margin-bottom: 0

    .select-box__option
        display: block
        padding: 15px
        background-color: #fff

        &:hover, &:focus
            color: #546c84
            background-color: #fbfbfb

    @-webkit-keyframes HideList
        from
            -webkit-transform: scaleY(1)
            transform: scaleY(1)

        to
            -webkit-transform: scaleY(0)
            transform: scaleY(0)

    @keyframes HideList
        from
            -webkit-transform: scaleY(1)
            transform: scaleY(1)

        to
            -webkit-transform: scaleY(0)
            transform: scaleY(0)
