.image-source-link
    color: #98C3D1
.mfp-container
    position: fixed



.mfp-with-zoom
    .mfp-container, &.mfp-bg
        opacity: 0
        -webkit-backface-visibility: hidden

        /* ideally, transition speed should match zoom duration
        -webkit-transition: all 0.3s ease-out
        -moz-transition: all 0.3s ease-out
        -o-transition: all 0.3s ease-out
        transition: all 0.3s ease-out

    &.mfp-ready
        .mfp-container
            opacity: 1

        &.mfp-bg
            opacity: 0.8

    &.mfp-removing
        .mfp-container, &.mfp-bg
            opacity: 0

    button.mfp-close
        position: fixed
        font-size: 40px
        font-family: "Roboto", sans-serif
        font-weight: 300
        width: 60px
        height: 60px
        border: none
        background: transparent

    button.mfp-arrow
        border: none
        background: transparent
        @media screen and (max-width: 575px)
            transform: scale(0.5)

        &::after
            content: none
        &::before
            opacity: 1
            border: none
            width: auto
            height: auto


    button.mfp-arrow-right
        &::before
            content: url('/svg/arrow-right-white.svg')
            margin-left: 0
    button.mfp-arrow-left
        &::before
            content: url('/svg/arrow-left-white.svg')


.mfp-image-holder
    .mfp-content
        max-height: 90vh
        max-width: 70%
        .mfp-img, .mfp-figure
            max-height: 90vh !important




