.item--card
    transition: 0.4s ease
    a
        &:hover
            opacity: 1
            .main-btn
                background: $main_color
                color: #ffffff
    .top-container
        position: relative
        border: 1px solid #C4C4C4

        .info
            position: absolute
            z-index: 5
            top: 10px
            left: 10px
            background: $main_color
            color: #ffffff
            font-weight: 500
            font-size: 0.7em
            padding: 5px 12px
            text-transform: uppercase
            letter-spacing: 0.05em
            @media screen and (max-width: 767px)
                top: 10px
                left: 10px
                font-size: 0.6em

    .bottom-container
        padding: 20px 0
        height: 110px
        @media screen and (max-width: 575px)
            height: 120px


        h4
            margin-bottom: 5px

        .in-stock-box
            color: #CDCDCD

.with-discount
    white-space: nowrap
    padding-left: 5px
    @media screen and (max-width: 575px)
        display: flex
        font-size: 1em
    .old-price

        margin-bottom: 5px
        padding: 0 6px
        position: relative
        display: inline-block
        @media screen and (max-width: 575px)
            margin-right: 5px
        &::before
            content: ''
            position: absolute
            left: 0
            width: 100%
            z-index: 2
            background: #000000
            height: 1px
            top: 50%
            transform: translateY(-50%)
    h6, .new-price
        font-size: 1.1em
        color: $main_color
        font-weight: 500
        white-space: nowrap
.no-discount
    font-size: 1.1em
    white-space: nowrap
    padding-left: 5px
    @media screen and (max-width: 575px)
        font-size: 1em







