footer
    border-top: 1px solid #C4C4C4
    @media screen and (max-width: 1279px)
        font-size: 0.9em

    nav
        display: flex
        justify-content: space-between
        font-size: 0.88em
        @media screen and (max-width: 575px)
            width: 70%
            margin: 0 auto
        @media screen and (max-width: 400px)
            width: 100%

        ul
            padding-left: 0
            margin-bottom: 0

            li
                list-style: none
                margin-bottom: 16px
                @media screen and (max-width: 1200px)
                    margin-bottom: 10px

                &:last-child
                    margin-bottom: 0

    .contact-box
        margin-right: 30px
        @media screen and (max-width: 1601px)
            margin-right: 0

    .email-form
        font-size: 0.88em
        @media screen and (max-width: 575px)
            width: 70%
            margin: 0 auto 40px
        @media screen and (max-width: 400px)
            width: 100%
        label
            display: flex
            align-items: flex-end
            margin-bottom: 16px
            height: 40px

        input
            color: $main_color




    .insta-box
        position: relative
        margin-bottom: 55px
        @media screen and (max-width: 1600px)
            margin-bottom: 40px

        &::before
            content: ''
            position: absolute
            right: 0
            width: 100%
            top: 50%
            transform: translateY(-50%)
            height: 1px
            background: #000000
            z-index: 1

        a
            display: inline-block
            background: #ffffff
            padding-right: 30px
            position: relative
            z-index: 3
            @media screen and (max-width: 400px)
                padding-right: 10px

            &:hover
                opacity: 1
                color: #6c767c

    .dev-box
        position: absolute
        right: 15px
        bottom: -50px
        font-size: 0.88em
        @media screen and (max-width: 1600px)
            bottom: -10px
        @media screen and (max-width: 1280px)
            right: 100px
            bottom: 0
        @media screen and (max-width: 1200px)
            bottom: -40px
            right: 0
            left: 0
            text-align: center
        @media screen and (max-width: 767px)
            bottom: -30px


#btn-to-up
    a
        position: fixed
        right: 20px
        bottom: 20px
        z-index: 500
        width: 40px
        height: 40px
        background: $main_color
        display: flex
        align-items: center
        justify-content: center
        transform: translateY(calc(100% + 25px)) scale(0.5)
        transition: 0.6s ease
        visibility: hidden
        &:hover
            cursor: pointer
            opacity: 0.7
        img
            transform: rotate(90deg)
            max-width: 20px

#btn-to-up.active
    a
        transform: translateY(0) scale(1)
        visibility: visible
