.modal

    .modal-dialog
        width: 600px
        max-width: 600px
        @media screen and (max-width: 767px)
            width: 500px
            max-width: 500px
        @media screen and (max-width: 575px)
            width: 95%
            max-width: 95%
            margin: 20px auto


    .modal-content
        position: relative
        border-radius: 2px
        border: none
        background: #ffffff
        padding: 0
        .close
            position: absolute
            width: 40px
            height: 30px
            display: flex
            align-items: center
            justify-content: center
            text-align: center
            font-size: 2em
            right: 0
            top: 0
            font-weight: 300
            background: transparent
            border: none
            z-index: 5

    .modal-body
        padding: 30px
        p
            font-size: 0.95em


    form
        .form-group
            position: relative
            padding-bottom: 0
            margin-bottom: 30px
            z-index: 3
            label
                position: absolute
                left: 25px
                bottom: 6px
                transition: 0.4s ease
                z-index: -1
                color: #A8A8A8
                margin-bottom: 0
                background: #ffffff

            input, textarea
                background: transparent
                &:focus ~ label, &:active ~ label
                    bottom: 100%
                    font-size: 10px
                    color: $main_color

                &::placeholder
                    display: none
                    opacity: 0


            input.full-input ~ label, textarea.full-input ~ label
                bottom: 100%
                font-size: 10px
                color: $main_color





.about-modal

    .modal-body
        //background: linear-gradient(118.68deg, rgba(212, 57, 140, 0.3) 0%, rgba(255, 255, 255, 0) 100%)
