header.desctop-header
    position: relative
    top: 0
    left: 0
    padding: 25px 0 0 0
    z-index: 1000
    background: #ffffff
    transition: 0.4s ease
    @media screen and (max-width: 1279px)
        display: none
    &::before
        content: ''
        position: absolute
        left: 0
        top: 0
        z-index: 1
        background: $main_color
        width: 100%
        height: 8px
        transition: 0.4s ease


    .logo-container
        margin-right: 100px
        @media screen and (max-width: 1367px)
            margin-right: 50px

        .main-logo
            transition: 0.4s ease
            transform-origin: left center
            @media screen and (max-width: 1367px)
                width: 200px


    nav
        ul
            margin-bottom: 0
            padding-left: 0
            li
                display: inline-block
                list-style: none
                a
                    display: inline-block



.first-line__nav
    padding-bottom: 10px
    ul
        margin-top: 20px
        li
            margin-right: 10px
            &:last-child
                margin-right: 0
            a
                padding: 1px 10px
                position: relative
                &::before
                    content: ''
                    position: absolute
                    width: calc(100% - 20px)
                    bottom: 0
                    margin: 0 auto
                    background: $main_color
                    height: 1px
                    left: 10px
                    transform: scale(0)
                    transition: 0.2s ease


                &:hover
                    color: $main_color
                    opacity: 1
                    &::before
                        transform: scale(1)

        li.active
            a
                color: $main_color
                &::before
                    transform: scale(1)



.second-line__nav
    padding: 25px 0
    transition: 0.4s ease
    a
        color: rgba(18, 14, 13, 0.9)
        position: relative
        font-size: 0.88em
        &:hover
            color: $main_color
            opacity: 1
        &::before
            content: ''
            position: absolute
            width: 5px
            height: 5px
            border-radius: 50%
            background: #000000
            top: 50%
            right: -50px
            transform: translateY(-50%)
            @media screen and (max-width: 1600px)
                right: -30px
            @media screen and (max-width: 1367px)
                right: -25px

    li
        &:last-child
            a
                &::before
                    content: none

.background-color
    background: #FEEDF6




header.header-after-scroll
    box-shadow: 0 3px 3px hsla(0,0%,80.8%,.57)
    padding: 0
    .main-logo
        transform: scale(0.6)
        @media screen and (max-width: 1279px)
            transform: scale(1)
    .second-line__nav
        padding-top: 0
    &::before
        height: 3px

    .first-line__nav
        padding-bottom: 5px
    .second-line__nav
        padding: 10px 0




.contact-box
    font-size: 0.88em
    form
        position: relative
        .search-btn
            position: absolute
            z-index: 3
            right: 10px
            bottom: 5px
            background: transparent
            border: none
            outline: none
        input
            color: $main_color


/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear
    display: none
    width : 0
    height: 0
input[type=search]::-ms-reveal
    display: none
    width : 0
    height: 0

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration
    display: none



.breadcrumb-nav
    margin-bottom: 40px
    @media screen and (max-width: 991px)
        margin-bottom: 20px
    a
        color: rgba(18, 14, 13, 0.9)
        font-size: 0.8em
        position: relative
        display: inline-block
        padding-right: 25px
        margin-right: 25px
        transition: 0s
        @media screen and (max-width: 991px)
            padding-right: 10px
            margin-right: 10px
        &::before
            content: ''
            position: absolute
            right: -15px
            top: 50%
            height: 1px
            width: 30px
            background: $main_color
            transform: translateY(-50%)
            @media screen and (max-width: 991px)
                width: 10px
                right: -5px
        &:last-child
            padding-right: 0
            margin-right: 0
            color: $main_color
            &::before
                content: none

//MOBILE HEADER

header.mobile-header
    display: none
    position: fixed
    width: 100%
    top: 0
    left: 0
    z-index: 1000
    background: #ffffff
    transition: 0.4s ease
    padding: 10px 0
    box-shadow: 0 3px 3px hsla(0,0%,80.8%,.57)
    @media screen and (max-width: 1279px)
        display: block

    .burger-btn
        border: none

    .contact-box
        @media screen and (max-width: 400px)
            font-size: 0.79em


#mobile-menu
    position: fixed
    left: 0
    top: 0
    z-index: 999
    background: #ffffff
    height: 100vh
    width: 100%
    transition: 0.4s ease
    transform: translateX(-100%)
    padding-top: 80px
    @media screen and (max-width: 1279px)
        display: block

    nav
        font-family: "PT Sans Narrow", sans-serif
        text-transform: uppercase

        ul
            padding-left: 0
            font-size: 1.5em
            li
                display: block
                a
                    display: inline-block
                    padding: 10px 0


#mobile-menu.active
    transform: translateX(0)



#scroll-nav
    width: 100%
    background: #ffffff
    position: fixed
    left: 0
    top: 0
    z-index: 1001
    padding: 5px 100px
    display: flex
    align-items: center
    justify-content: space-between
    transition: 0.4s ease
    transform: translateY(-100%)
    visibility: hidden
    @media screen and (max-width: 1279px)
        display: none

    nav
        ul
            margin-bottom: 0
            padding-left: 0
            li
                display: inline-block
                list-style: none
                a
                    display: inline-block

    .contact-box
        font-size: 0.8em
        img
            width: 11px

#scroll-nav.active
    visibility: visible
    transform: translateY(0)
    box-shadow: 0 5px 5px 0 rgba(206, 206, 206, 0.7)
