<template>
    <section class="pt-40 pb-80">

        <div class="container catalog-page">
            <div class="d-flex flex-wrap align-items-center justify-content-between">
                <div class="breadcrumb-nav mb-2">
                    <a href="/">Главная</a>
                    <a href="/catalog">Каталог</a>
                    <a v-if="breadcrumb" :href="breadcrumbLink">{{breadcrumb}}</a>
                    <a v-if="subBreadcrumb">{{subBreadcrumb}}</a>
                </div>


            </div>


            <div class="row justify-content-between">
                <div class="col-lg-3">
                    <div class="category-filter__catalog mb-4">

                        <h2 id="openCategory" class="d-lg-none">Фильтр</h2>


                        <div id="accordionCatalog">
                            <div id="close-mobile-catalog" class="close d-block d-lg-none close-mobile-catalog">&times;</div>
                            <!--КАТЕГОРИИ-->
                            <div class="accordion" id="accordionCategory">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h2 class="mb-0">
                                            <button class="category-title collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" id="headCategory">
                                                Категории
                                            </button>
                                        </h2>
                                    </div>

                                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionCategory">
                                        <div class="card-body" id="accordionCategory-2">
                                            <div class="card" v-for="category in categories">
                                                <div class="card-header" :id="category.id">
                                                    <h2 class="mb-0">
                                                        <button class="category-title category-title-small" type="button" data-toggle="collapse"
                                                                :id="'category-title' + category.id"
                                                                :class="{collapsed: category !== selected_category, active: category === selected_category}"
                                                                @click="selectCategory(category)"
                                                                :data-target="'#collapse' + category.id" aria-expanded="true"
                                                                aria-controls="collapseOne">
                                                            {{category.title}}
                                                        </button>
                                                    </h2>
                                                </div>


                                                <div v-if="category.subcategories"
                                                     :id="'collapse' + category.id"
                                                     class="collapse card-subcategory"
                                                     :aria-labelledby="category.id"
                                                     data-parent="#accordionCategory-2"
                                                >
                                                    <div class="card-body" v-for="subcategory in category.subcategories" v-if="category.id === subcategory.parent_id">
                                                        <div class="one-subcategory"
                                                             @click="selectSubcategory(subcategory.id)"
                                                             :class="{active: subcategory.id === selected_subcategory}"
                                                        >
                                                            <div class="category-subtitle">
                                                                {{subcategory.title}}
                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--ДИЗАЙНЕРЫ-->
                            <div class="accordion" id="accordionDesign">
                                <div class="card">
                                    <div class="card-header" id="headingOne-2">
                                        <h2 class="mb-0">
                                            <button class="category-title collapsed" type="button" data-toggle="collapse" data-target="#collapseOne-2" aria-expanded="true" aria-controls="collapseOne-2">
                                                Дизайнеры
                                            </button>
                                        </h2>
                                    </div>

                                    <div id="collapseOne-2" class="collapse" aria-labelledby="headingOne-2" data-parent="#accordionDesign">
                                        <div class="card-body">
                                            <div class="checkbox pt-1 pb-1" v-for="item in designers">
                                                <input type="checkbox" :value="item.id" :id="'designer' + item.id"
                                                       v-model="filterByDesignersModel"
                                                       @change="filter">
                                                <label :for="'designer' + item.id">{{item.title}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--НАЛИЧИЕ-->
                            <div class="accordion" id="accordionNal" v-show="activeStatus">
                                <div class="card">
                                    <div class="card-header" id="headingOne-3">
                                        <h2 class="mb-0">
                                            <button class="category-title collapsed" type="button" data-toggle="collapse" data-target="#collapseOne-3" aria-expanded="true" aria-controls="collapseOne-3">
                                                Наличие
                                            </button>
                                        </h2>
                                    </div>

                                    <div id="collapseOne-3" class="collapse" aria-labelledby="headingOne-3" data-parent="#accordionNal">
                                        <div class="card-body">
                                            <div class="checkbox pt-1 pb-1" v-for="item in status">
                                                <input type="checkbox"
                                                       :value="item.value"
                                                       :id="item.id"
                                                       v-model="filterByStatusModel"
                                                       @change="filter">
                                                <label :for="item.id" :class="{active: item.active}">{{item.title}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--СТАТУС-->
                            <div class="accordion" id="accordionStatus" v-show="activeAdditional">
                                <div class="card">
                                    <div class="card-header" id="headingOne-4">
                                        <h2 class="mb-0">
                                            <button class="category-title collapsed" type="button" data-toggle="collapse" data-target="#collapseOne-4" aria-expanded="true" aria-controls="collapseOne-4">
                                                Статус
                                            </button>
                                        </h2>
                                    </div>

                                    <div id="collapseOne-4" class="collapse" aria-labelledby="headingOne-4" data-parent="#accordionStatus">
                                        <div class="card-body">
                                            <div>
                                                <div class="checkbox pt-1 pb-1" v-for="item in additional">
                                                    <input type="checkbox" :value="item.value" :id="item.id"
                                                           v-model="filterByAdditionalModel"
                                                           @change="filter">
                                                    <label :for="item.id">{{item.title}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="text-center d-lg-none">
                                <button class="main-btn close-mobile-catalog">Фильтровать</button>
                            </div>
                        </div>




                        <div>
                            <button class="reset-btn" type="button" v-if="filtered_products" @click="resetFilter">
                                Очистить фильтр
                            </button>
                        </div>






                    </div>


                </div>

                <div class="col-lg-9 col-xl-9">


                    <div class="d-flex align-content-center justify-content-between align-items-center flex-wrap mb-3">
                        <div>
                            <button v-if="searchBox" class="reset-btn search" @click="resetFilter">
                                <span>Поиск по артикулу: {{this.searchBox}}</span>
                                <span class="close">&times</span>
                            </button>
                        </div>

                        <div class="select-box">
                            <span>Сортировать по:</span>
                            <div class="select-box__current" tabindex="1">
                                <div class="select-box__value">
                                    <input class="select-box__input" v-model="sortBy" @change="filter()" type="radio" id="select-box0" value="1" name="Ben" checked="checked"/>
                                    <p class="select-box__input-text">последним добавленным</p>
                                </div>
                                <div class="select-box__value">
                                    <input class="select-box__input" v-model="sortBy" @change="filter()" type="radio" id="select-box1" value="2" name="Ben"/>
                                    <p class="select-box__input-text">возрастанию цены</p>
                                </div>
                                <div class="select-box__value">
                                    <input class="select-box__input" v-model="sortBy" @change="filter()" type="radio" id="select-box2" value="3" name="Ben"/>
                                    <p class="select-box__input-text">убыванию цены</p>
                                </div>

                            </div>
                            <ul class="select-box__list">
                                <li>
                                    <label class="select-box__option" for="select-box0" aria-hidden="aria-hidden">последним добавленным</label>
                                </li>
                                <li>
                                    <label class="select-box__option" for="select-box1" aria-hidden="aria-hidden">возрастанию цены</label>
                                </li>
                                <li>
                                    <label class="select-box__option" for="select-box2" aria-hidden="aria-hidden">убыванию цены</label>
                                </li>
                            </ul>
                        </div>

                    </div>


                    <div v-if="filtered_products">
                        <div class="row" v-if="filtered_products == 0">
                            <div class="col">
                                <h5 class="main-color mb-2">Очень жаль, но</h5>
                                <div class="font-weight-light">на данный момент у нас нет товаров, подходящих под
                                    заданные параметры
                                </div>

                            </div>
                        </div>

                        <div class="row" v-else>
                            <div class="col-6 col-md-4 col-lg-4 col-xl-3 mb-5" v-for="product in slice_product_filter">
                                <item-card :product="product"></item-card>
                            </div>

                            <div class="text-left col-12" v-if="step < filtered_products.length">
                                <button class="btn-second" @click="showMoreProd">Загрузить еще</button>
                            </div>
                        </div>

                    </div>

                    <div class="row" v-else>
                        <div class="col-6 col-md-4 col-lg-4 col-xl-3 mb-5" v-for="product in slice_product">
                            <item-card :product="product"></item-card>
                        </div>

                        <div class="col-12 text-left " v-if="products">
                            <div v-if="step < products.length - 8">
                                <button class="btn-second" @click="showMoreProd">Загрузить еще</button>
                            </div>
                        </div>

                    </div>



                </div>
            </div>
        </div>


    </section>


</template>
<script>

    export default {
        props: ['selected_category_id', 'selected_static_link', 'selected_sub_category_id', 'search'],

        data() {
            return {
                products: null,
                categories: null,
                subcategories: null,
                designers: null,

                filtered_products: null,
                sort_products: null,
                slice_product: null,
                slice_product_filter: null,

                isActive: false,
                activeStatus: true,
                activeAdditional: true,


                activeClass: false,
                byAdditional: false,

                pageNumber: 0,
                pageSize: 9,
                lastPageCount: null,

                breadcrumb: null,
                breadcrumbLink: null,
                subBreadcrumb: null,

                searchBox: null,

                step: 0,


                status: [
                    {
                        title: 'В наличии',
                        id: 'status1',
                        value: 1,
                    },
                    {
                        title: 'Скоро в наличии',
                        id: 'status2',
                        value: 2,
                    },
                    {
                        title: 'Под заказ',
                        id: 'status3',
                        value: 3,
                    },
                ],
                additional: [
                    {
                        title: 'Новинки',
                        id: 'additional1',
                        value: 1
                    },
                    {
                        title: 'Спец цена',
                        id: 'additional2',
                        value: 2
                    },
                ],
                filterByStatusModel: [],
                filterByAdditionalModel: [],
                filterByDesignersModel: [],
                sortBy: "1",

                selected_category: null,
                selected_subcategory: null,


            }
        },

        created() {
            axios.post('/api/products').then(data => {
                console.log('Items:', data.data.data);
                this.products = data.data.data;
                this.products = this.products.sort((a, b) => {
                    if (a.created_at < b.created_at) return -1;
                    if (a.created_at > b.created_at) return 1;
                }).reverse();

                this.slice_product = this.products.slice(0,8);


                return axios.post('/api/main_categories');

            }).then(data => {
                console.log('categories:', data.data.data);
                this.categories = data.data.data;

                return axios.post('/api/designers');
            }).then(data => {
                console.log('designers:', data.data.data);
                this.designers = data.data.data;


                //Выбрана категория при загрузке каталога
                if(this.selected_category_id) {
                   // /!* Select category and filter items *!/
                    console.log('this.selected_category ' + this.selected_category_id);
                    let select = [];
                    this.categories.forEach(category => {
                        if(category.id == this.selected_category_id) {
                            console.log('category ' + category);
                            select = category;
                        }
                    });
                    console.log('categorSel ' + select);
                    this.selected_category = select;
                    this.breadcrumb = select.title;
                    $('#collapseOne').addClass('show');
                    $('#headCategory').removeClass('collapsed');
                    $('#collapse' + select.id).addClass('show');
                    // $('#category-title${ this.selected_category_id}').removeClass('collapsed');
                    this.filter();

                    //Выбрана подкатегория при загрузке каталога
                    if(this.selected_sub_category_id) {
                        let selectSub = [];
                        this.categories.forEach(category => {
                            category.subcategories.forEach(subcategory => {
                                if(subcategory.id == this.selected_sub_category_id) {
                                    console.log('subcategory + ' + subcategory);
                                    selectSub = subcategory;
                                }
                            })
                        });
                        console.log('selectSub + ' + selectSub.title);
                        this.selected_subcategory = selectSub.id;
                        this.subBreadcrumb = selectSub.title;
                        this.filter();
                    }
                }




                if(window.location.pathname === '/catalog/platya-v-nalichii') {
                    this.filterByStatusModel = '1';
                    this.activeStatus = false;
                    this.breadcrumb = 'Платья в наличии';
                    this.filter();
                }
                if(window.location.pathname === '/catalog/novinki') {
                    this.filterByAdditionalModel = '1';
                    this.activeAdditional = false;
                    this.breadcrumb = 'Новинки';
                    this.filter();
                }
                if(window.location.pathname === '/catalog/specialnaya-cena') {
                    this.filterByAdditionalModel = '2';
                    this.activeAdditional = false;
                    this.breadcrumb = 'Спец. цена';
                    this.filter();
                }

                if(this.search) {
                    this.filter()
                }

            });

        },


        methods: {


            filter() {
                let sortedProducts = this.products;

                /* 1 available, soon_available, order*/
                if (this.filterByStatusModel.length > 0) {
                    let status = JSON.stringify(this.filterByStatusModel);

                    sortedProducts = sortedProducts.filter(product => {
                        return status.includes(product.status)
                    });

                }

                /* 2 new, discount */
                if (this.filterByAdditionalModel.length > 0){
                    let additional = JSON.stringify(this.filterByAdditionalModel);

                    sortedProducts = sortedProducts.filter(product => {
                        return additional.includes(product.new_or_special_price)
                    });
                }


                /* 3 category */
                if (this.selected_category){
                    //привести к типу "строка"
                    if(typeof(this.selected_category.id) === 'number') {
                        this.selected_category.id = JSON.stringify(this.selected_category.id);
                    }

                    let categories = [];
                    categories.push(this.selected_category.id);



                    this.selected_category.subcategories.forEach(subcategory => {
                        if(typeof(subcategory.id) === 'number') {
                            subcategory.id = JSON.stringify(subcategory.id);
                        }
                        categories.push(subcategory.id)
                    });
                    sortedProducts = sortedProducts.filter(product => {

                        return categories.includes(product.category_id)
                    });

                    let url = `/catalog/${ this.selected_category.slug}`;

                    history.pushState(null, null, url);
                    this.breadcrumb = this.selected_category.title;
                    this.subBreadcrumb = null;

                }

                /* 4 subcategory */
                if (this.selected_subcategory){
                    //привести к типу "строка"
                    if(typeof(this.selected_subcategory.id) === 'number') {
                        this.selected_subcategory.id = JSON.stringify(this.selected_subcategory.id);
                    }

                    let subcategories = [];
                    subcategories.push(this.selected_subcategory);

                    sortedProducts = sortedProducts.filter(product => {
                        return subcategories.includes(product.category_id)
                    });

                    let urlSlug;
                    this.categories.forEach(category => {
                        category.subcategories.forEach(subcategory => {
                            if (this.selected_subcategory === subcategory.id) {
                                urlSlug = subcategory.slug;
                                this.subBreadcrumb = subcategory.title;
                            }
                        })
                    });

                    this.breadcrumbLink = "/catalog/" + this.selected_category.slug;

                    let url = `/catalog/${ this.selected_category.slug}/${ urlSlug}`;
                    history.pushState(null, null, url);

                }
                /* 5 designers */
                if (this.filterByDesignersModel.length > 0) {
                    let designers = JSON.stringify(this.filterByDesignersModel);
                    sortedProducts = sortedProducts.filter(product => {
                        return designers.includes(product.designer_id)
                    });
                }



                /* 6 sort_price_up, sort_price_down */
                if(this.sortBy) {
                    if(this.sortBy == 1) {
                        sortedProducts = sortedProducts.sort((a, b) => {
                            if (a.created_at < b.created_at) return -1;
                            if (a.created_at > b.created_at) return 1;
                        }).reverse();
                    }
                    if(this.sortBy == 2) {
                        sortedProducts = sortedProducts.sort(function(a, b) {
                            return parseFloat(a.price) - parseFloat(b.price);
                        });
                    }
                    if(this.sortBy == 3) {
                        sortedProducts = sortedProducts.sort(function(a, b) {
                            return parseFloat(a.price) - parseFloat(b.price);
                        }).reverse();
                    }
                }
                /*7 search filter*/
                if(this.search) {
                    sortedProducts = sortedProducts.filter(product => {
                        return this.search === product.model
                    });
                    this.searchBox = this.search;
                }

                this.filtered_products = sortedProducts;
                this.step = 0;
                this.showMoreProd();

            },

            selectCategory(category)
            {
                this.selected_category = category;
                this.selected_subcategory = null;
                this.filter();

            },
            selectSubcategory(id)
            {
                this.selected_subcategory = id;
                this.filter();
            },

            showMoreProd() {
                if(this.filtered_products) {
                    this.step = this.step + 8;
                    this.slice_product_filter = this.filtered_products.slice(0, this.step);
                    console.log('step: ' + this.step);
                } else {
                    this.step = this.step + 8;
                    this.slice_product = this.products.slice(0, this.step + 8);
                }

            },

            resetFilter() {
                this.byAdditional = false;
                this.filtered_products = null;
                this.filterByStatusModel = [];
                this.filterByAdditionalModel = [];
                this.filterByDesignersModel = [];
                this.selected_category = null;
                this.selected_subcategory = null;
                this.products = this.products.sort((a, b) => {
                    if (a.created_at < b.created_at) return -1;
                    if (a.created_at > b.created_at) return 1;
                }).reverse();
                $('.collapse').collapse('hide');
                this.sortBy = "1";
                history.pushState(null, null, '/catalog');
                this.breadcrumb = null;
                this.breadcrumbLink = null;
                this.subBreadcrumb = null;
                this.activeStatus = true;
                this.activeAdditional = true;
                this.searchBox = null;
                this.slice_product = this.products.slice(0,8);
                this.step = 0;

            },

        }
    }
</script>

