<template>
    <div class="card">
        <div class="card-header" :id="category.id">
            <h2 class="mb-0">
                <button class="collapsed category-title" type="button" data-toggle="collapse"
                        @click="filterByCategory(category.id)"
                        :data-target="'#collapse' + category.id" aria-expanded="true" aria-controls="collapseOne">
                    {{category.title}}
                </button>
            </h2>
        </div>

<!--        <div :id="'collapse' + category.id" class="collapse" :aria-labelledby="category.id" data-parent="#accordionCatalog" v-for="subcategory in subcategories">-->
<!--            <div class="card-body" v-if="category.id === subcategory.parent_id">-->
<!--                <div class="one-subcategory" @click="filterBySubCategory(subcategory.id)">-->
<!--                    <div class="category-subtitle">-->
<!--                        {{subcategory.title}}-->
<!--                    </div>-->

<!--                </div>-->

<!--            </div>-->
<!--        </div>-->
    </div>
</template>

<script>
    export default {
        props: ['category', 'selected_category_id', 'subcategory'],

        data() {
            return {
                products: null
            }
        },

        methods: {
            filterByCategory(id) {
                this.filtered_products = this.products.filter(product => product.category_id === id);
                this.filterByStatusModel = [];


                //this.selected_category = id;
                //this.isActive = false;
            },
            filterBySubCategory(id) {
                this.filtered_products = this.products.filter(product => product.category_id === id);
                this.filterByStatusModel = [];
                //this.selected_category = id;
                //this.isActive = false;
            }
        },
        created() {
            axios.post('/api/products').then(data => {
                console.log('Items:', data.data.data);
                this.products = data.data.data;
            });
        },
    }
</script>

<style scoped>

</style>
